venv
.idea
*.swp
*.pyc
.env
DATA/web-upload
DATA/Papers
DATA/db/
bht-config.yml
docker-compose.override.yml
grobid-client-config.json
pytest.ini
geckodriver.log
.htpasswd
dynamical-volume
test-upload
bht2.log
logs
.ipynb_checkpoints
