name: "bht"
services:

    web:
        image: web
        build:
            context: .
            target: bht-prod
            args:
                - USER_UID=1000
                - USER_GID=1000
        command: gunicorn --bind 0.0.0.0:5000 bht_web:app
        volumes:
            - bht_data:/home/bibheliotech/BibHelioTech/DATA:rw
        depends_on:
          grobid:
            condition: service_healthy
          redis:
            condition: service_started

    grobid:
      image: lfoppiano/grobid:0.7.2
      # thank you to:
      # https://github.com/elifesciences/sciencebeam-orchester/blob/develop/docker-compose.yml#L27-L34
      healthcheck:
        test: [
          "CMD", "bash", "-c",
          "while ! timeout 1 bash -c 'echo > /dev/tcp/localhost/8070'; do sleep 10; done"
        ]
        interval: 10s
        timeout: 10s
        retries: 5

    worker:
      image: web
      command: python manage.py run_worker
      volumes:
        - bht_data:/home/bibheliotech/BibHelioTech/DATA:rw
      depends_on:
        - web

    nginx:
      image: nginx
      volumes:
        - ./ressources/web_nginx.docker.conf:/etc/nginx/conf.d/default.conf
      ports:
        - "80:80"
      depends_on:
        - web

    redis:
      image: redis:6.2-alpine


volumes:
  bht_data:
