name: "bht"
services:
    web:
        image: bht/web:${WEB_TAG:-latest}
        build:
            context: .
        command: gunicorn --bind 0.0.0.0:5000 bht_web:app
        volumes:
            - bht_data:/home/bibheliotech/BibHelioTech/DATA:cached
        depends_on:
          redis:
            condition: service_started
        restart: always

    worker:
      image: bht/web:${WEB_TAG:-latest}
      command: python manage.py run_worker
      volumes:
        - bht_data:/home/bibheliotech/BibHelioTech/DATA:cached
      depends_on:
        - web
      restart: always

    fastapi:
      image: bht/fastapi:${WEB_TAG:-latest}
      build:
        context: .
        dockerfile: Dockerfile.fastapi
      command: uvicorn fastapi_sutime:app --host 0.0.0.0 --port 8000 --workers 1
      volumes:
        - bht_data:/home/bibheliotech/BibHelioTech/DATA:cached
      ports:
        - "8000:8000"
      restart: always

    nginx:
      image: nginx
      volumes:
        - ./resources/web_nginx.docker.conf:/etc/nginx/conf.d/default.conf
      ports:
        - "${WEB_PORT:-80}:80"
      depends_on:
        - web
      restart: always

    redis:
      image: redis:6.2-alpine
      restart: always


volumes:
  bht_data:
