pytesseract
Pillow
pdf2image
sutime
lxml
bs4
beautifulsoup4
pandas
requests
pathlib
setuptools
xlrd
grobid-client-python
PyYAML
Flask
gunicorn
redis
rq
Flask-SQLAlchemy
filetype
Werkzeug
flask-migrate
Flask-Migrate
flask-htpasswd
click
numpy
python-dateutil
pytest
selenium
alembic
SQLAlchemy
markdown
