pytesseract~=0.3.10
Pillow~=10.1.0
pdf2image~=1.16.3
sutime
lxml
bs4~=0.0.1
beautifulsoup4~=4.12.2
pandas~=2.1.2
requests~=2.31.0
pathlib~=1.0.1
setuptools
xlrd
grobid-client-python
PyYAML~=6.0.1
Flask~=3.0.0
gunicorn
redis~=5.0.1
rq~=1.15.1
Flask-SQLAlchemy
filetype~=1.2.0
Werkzeug~=3.0.1
flask-migrate
Flask-Migrate
flask-htpasswd
click~=8.1.7
numpy~=1.26.1
python-dateutil~=2.8.2
pytest~=7.4.3
selenium~=4.15.2
alembic~=1.12.1
SQLAlchemy~=2.0.23
markdown
