
{% if papers.pages > 1 %}
    Page {{ papers.page }} / {{ papers.pages }} ({{ papers.total }} total papers)
{% endif %}

<div class="pagination_menu">
    {% if papers.has_prev %}
    <a class="btn btn-warning" href="{{ url_for(url_value, page=papers.prev_num) }}"
       title="Previous {{config.PER_PAGE}} Papers"><<</a>
    {% endif %}
    &nbsp;
    {% if papers.has_next %}
    <a class="btn btn-warning" href="{{ url_for(url_value, page=papers.next_num) }}"
       title="Next {{config.PER_PAGE}} Papers">>></a>
    {% endif %}
</div>
