{% extends "base_page.html" %}
{%  block more_head %}
<title>About - {{base_title}}</title>
{%  endblock %}

{% block content %}
<div class="container">
    <p>
        BibHelioTech aims at identifying temporal expressions (time intervals) in scientific papers from the
        Heliophysics domain and linking them to their observational context: satellites, instruments, spatial regions.
        It connects to <a href="https://www.istex.fr/">Istex</a>, a large database of papers authorized to text and data
        mining.
    </p>

    <p>
        BibHelioTech generates standardized catalogues of events which may be visualized in data analysis tools, such as
        <a href="http://amda.cdpp.eu/">AMDA</a> or <a href="https://github.com/SciQLop/SciQLop">Sciqlop.</a>
    </p>

    <p>
        BibHelioTech was developed at <a href="https://www.irap.omp.eu/">IRAP</a> (Institut de Recherche en
        Astrophysique et Planétologie, Toulouse
        ) in the frame of an internship by A. Dablanc supervised by V. Génot.
    </p>
    <p>
        This web interface
        is developed by <a href="mailto:hitier.richard@gmail.com">R. Hitier</a>.
    </p>
    <p>
        BibHelioTech repository is available on
        <a href="https://github.com/RichardHitier/BibHelioTech">
            <img width="70" src="{{url_for('static', filename='img/GitHub_Logo.png')}}"/>
        </a>
    </p>
    <h5>
        See Changelogs for more details on changes between versions:
    </h5>
    <ul>
        <li>
            BibHelioTech: <a class="btn btn-version" href="{{url_for('main.changelog')}}"
                             title="BibHelioTech CHANGELOG">
            V{{config.VERSION}}</a>

        </li>
        <li>
            BhtPipeline: <a class="btn btn-version" href="{{url_for('main.changelog', module='pipeline')}}"
                            title="BhtPipeline CHANGELOG">
            V{{config.BHT_PIPELINE_VERSION}}</a>

        </li>

    </ul>
    <h5>
        Pipeline Hints:
    </h5>
    <ul>
        <li> First, SUTIME is run to discover time intervals called Durations.</li>
        <li> Then we search for Missions and Instruments in the text.</li>
        <li> A correspondance is then done between Missions and Durations</li>
        <li> That allows us to set some indicators:
            <ul>
                <li>D: is the distance in the text ( number of characters) between the Duration and the Mission</li>
                <li>R: is the rank of the mission, meaning how many midssions we had to skip in the text befor making
                    the correspondance with the Duration
                </li>
                <li>Conf: is an indice, wich formula is:
                    <strong>D × R / (SO × sat_occ)</strong> where <strong>SO</strong> is the total number of missions,
                    and <strong>sat_occ</strong> the occurences of that specific mission.
                </li>
                <li>NConf: is this indice normalized on the whole database</li>
            </ul>
        </li>
    </ul>

</div>
{% endblock %}
