{% extends "base_page.html" %}
{%  block more_head %}
<title>About - {{base_title}}</title>
{%  endblock %}

{% block content %}
<div class="container">
    <p>
        BibHelioTech aims at identifying temporal expressions (time intervals) in scientific papers from the
        Heliophysics domain and linking them to their observational context: satellites, instruments, spatial regions.
        It connects to <a href="https://www.istex.fr/">Istex</a>, a large database of papers authorized to text and data
        mining.
    </p>

    <p>
        BibHelioTech generates standardized catalogues of events which may be visualized in data analysis tools, such as
        <a href="http://amda.cdpp.eu/">AMDA</a> or <a href="https://github.com/SciQLop/SciQLop">Sciqlop.</a>
    </p>

    <p>
        BibHelioTech was developed at <a href="https://www.irap.omp.eu/">IRAP</a> (Institut de Recherche en
        Astrophysique et Planétologie, Toulouse
        ) in the frame of an internship by A. Dablanc supervised by V. Génot.
    </p>
    <p>
        This web interface
        is developed by <a href="mailto:hitier.richard@gmail.com">R. Hitier</a>.
    </p>
    <p>
        BibHelioTech repository is available on
        <a href="https://github.com/RichardHitier/BibHelioTech">
            <img width="70" src="{{url_for('static', filename='img/GitHub_Logo.png')}}"/>
        </a>
    </p>

</div>
{% endblock %}
