{% extends "base_page.html" %}
{%  block more_head %}
<link href="{{url_for('static', filename='css/colored_steps.css') | staticversion }} " rel="stylesheet">
{%  endblock %}
{% block content %}

<a href="{{url_for('main.paper_show', paper_id=paper_id)}}"> Back to paper</a>
<br>
<br>

<div id="step_menu">
{% for step in range(step_lighter.all_steps) %}
    {% if step - curr_step == 0 %}
    <a class="a_selected" href="{{url_for('main.paper_pipeline', pipeline_mode=pipeline_mode, paper_id=paper_id, step_num=step)}}">{{pipeline_mode}} {{step}}</a>
    {% else %}
    <a href="{{url_for('main.paper_pipeline', pipeline_mode=pipeline_mode, paper_id=paper_id, step_num=step)}}">{{pipeline_mode}} {{step}}</a>
    {% endif %}
{% endfor %}
</div>
<h3>{{step_lighter.caption}}</h3>
<div id="colored_content">
    {{step_lighter.enlighted_txt|safe}}
</div>

{% endblock %}
