{% extends "base_page.html" %}
{% block more_head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
{% if paper %}
    <title>{{events | length}} Events for paper {{paper.id}}</title>
{% else %}
    <title>{{events | length}} Events in database</title>
{% endif %}
{% endblock %}
{% block content %}
<blockquote class="text-center">
    {% if paper %}
    <p class="lead fs-4 mb-0">
        {{events | length }} Events for the paper
        <a class="btn btn-warning paper-id" href="{{url_for('main.paper_show', paper_id=paper.id)}}"
           title="Show paper #{{paper.id}}">
                #{{paper.id}}
        </a>
        with pipeline
        <a class="btn btn-warning btn-version" href="{{url_for('main.changelog', module='pipeline')}}" title="Please see CHANGELOG for changes">
            V{{paper.pipeline_version}}
        </a>
    </p>
    <p class="fs-4 mb-0 fw-bolder">
        "{{paper.title}}
    </p>
    {% endif %}
</blockquote>
<hr class="mt-2 mb-3">
{% if not events  %}
    {% set table_visibility = "invisible" %}
{% endif %}
<table id="events-table" class="table-hover table {{table_visibility}}">
    <thead>
    <tr>
        <th scope="col" class="col-1">start</th>
        <th scope="col" class="col-1">stop</th>
        <th scope="col" class="col-1">mission(s)</th>
        <th scope="col" class="col-2">instrument(s)</th>
        <th scope="col" class="col-1">region</th>
        <th scope="col" class="col-1">D</th>
        <th scope="col" class="col-1">R</th>
        <th scope="col" class="col-1">Conf</th>
        <th scope="col" class="col-1">NConf</th>
    </tr>
    </thead>
    <tbody id="events-body">
    {% for event in events %}
    <tr>
        <td>{{event.start_date|short_datetime}}</td>
        <td>{{event.stop_date|short_datetime}}</td>
        <td>{{event.mission}}</td>
        <td>{{event.instrument}}</td>
        <td>{{event.region}}</td>
        <td>{{event.d}}</td>
        <td>{{event.r}}</td>
        <td>{{event.conf}}</td>
        <td>{{event.nconf}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{%  endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"> </script>
<script>
$(document).ready(function() {
    $('#events-table').DataTable(
        {
        ordering: true,
        search: false,
        paging: false
    });
});
</script>
{%  endblock %}
