<div class="mb-3">
    {# Display Selected mission and Button for downloading at text catalog #}
    <span id="get-catalog-title" class="h5"></span>
    <a class="btn btn-warning invisible ms-3" id="get-catalog-txt"
       href="#"
       title="Get catalog as txt">
        Download
    </a>
</div>
{% if events  |length == 0 %}
    {% set table_visibility = "invisible" %}
{% endif %}
<table id="events-table" class="table-hover table {{table_visibility}}">
    <thead>
    <tr>
        <th scope="col" class="col-2">start</th>
        <th scope="col" class="col-2">stop</th>
        <th scope="col" class="col-1">duration</th>
        <th scope="col" class="col-1">doi</th>
        <th scope="col" class="col-1">mission</th>
        <th scope="col" class="col-1">instruments</th>
        <th scope="col" class="col-1">region</th>
        <th scope="col" class="col-1" title="Distance from mission to duration (see About) ">D</th>
        <th scope="col" class="col-1" title="Rank before mission found (see About)">R</th>
        <th scope="col" class="col-1" title="Confidence indice (see About)">Conf</th>
        <th scope="col" class="col-1" title="Confidence normalized (see About)">NConf</th>
    </tr>
    </thead>
    <tbody id="events-body">
    {% for _e in events %}
    <tr>
        <td class="col-2">{{_e.start_date|short_datetime}}</td>
        <td class="col-2">{{_e.stop_date|short_datetime}}</td>
        <td class="col-1">{{_e.duration_str}}</td>
        <td class="col-1"><a href="http://doi.org/{{_e.doi}}">{{_e.doi}}</a></td>
        <td class="col-1">{{_e.mission}}</td>
        <td class="col-1">{{_e.instrument}}</td>
        <td class="col-1">{{_e.region}}</td>
        <td class="col-1">{{_e.d}}</td>
        <td class="col-1">{{_e.r}}</td>
        <td class="col-1">{{_e.conf}}</td>
        <td class="col-1">{{'{0:0.4f}'.format(_e.nconf)}}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>
