{% extends "base_page.html" %}
{% block more_head %}
{% if paper %}
<title>{{events | length}} Events for paper {{paper.id}}</title>
{% else %}
<title>{{events | length}} Events in database</title>
{% endif %}
{% endblock %}
{% block content %}
<blockquote class="text-center">
    {% if paper %}
    <p class="lead fs-4 mb-0">
        {{events | length }} Events for the paper
        <a class="btn btn-warning paper-id" href="{{url_for('main.paper_show', paper_id=paper.id)}}"
           title="Show paper #{{paper.id}}">
                #{{paper.id}}
        </a>
    </p>
    <p class="fs-4 mb-0 fw-bolder">
        "{{paper.title}}
    </p>
    {% endif %}
</blockquote>
<hr class="mt-2 mb-3">
<table id="events-table" class="table-hover table">
    <thead>
    <tr>
        <th scope="col" class="col-2">start</th>
        <th scope="col" class="col-2">stop</th>
        <th scope="col" class="col-1">mission(s)</th>
        <th scope="col" class="col-1">instrument(s)</th>
        <th scope="col" class="col-1">region</th>
        <th scope="col" class="col-1">D</th>
        <th scope="col" class="col-1">R</th>
        <th scope="col" class="col-1">Conf</th>
    </tr>
    </thead>
    <tbody id="events-body">
    {% for event in events %}
    <tr>
        <td>{{event.start_date|short_datetime}}</td>
        <td>{{event.stop_date|short_datetime}}</td>
        <td>{{event.mission.name}}</td>
        <td>{{event.instrument.name}}</td>
        <td>{{event.region.name}}</td>
        <td>{{event.d}}</td>
        <td>{{event.r}}</td>
        <td>{{event.conf}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{%  endblock %}

{% block scripts %}
{%  endblock %}
