{% extends "base_table.html" %}
{% block more_head %}
{{ super () }}
<style>

    .title_td {
    border: solid 1pt grey;
    }
    .title_td:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
    .title_td a {
  text-decoration: none;
  color: inherit;
}

</style>
<title> Papers to FIX (Y = 2024|2025)</title>
{% endblock %}
{% block content %}
<table>
     <thead>
    <tr>
        <th scope="col">Id</th>
        {% for i in [0,4,5,12] %}
        <th scope="col">#{{i}}</th>
        {% endfor %}
        <th scope="col">Title</th>
        <th scope="col">events</th>
    </tr>
    </thead>
    <tbody>
    {% for p in papers %}
    <tr>
        <td >
            <a class="btn btn-warning" href="{{url_for('main.paper_show', paper_id=p.id)}}" title="{{p.title}}">
            {{p.id}}
            </a>
        </td>
        {% for i in [0,4,5,12] %}
        <td >
            <a class="btn btn-warning"
               href="{{url_for('main.paper_pipeline', paper_id=p.id, step_num=i, pipeline_mode='sutime', disp_mode='analysed')}}">
                #{{i}}
            </a>
        </td>
        {% endfor %}
        <td class="title_td" title="{{p.title}}">
            <b>{{p.publication_date}}:</b>
            <a href="{{url_for('main.paper_show', paper_id=p.id)}}" title="{{p.title}}">
                {{p.title | truncate(80)}}
            </a>
            </td>
        <td style="text-align: right;padding-left: 1em;">
            <b>{{p.hp_events|length}}</b>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
