{% extends "base_page.html" %}
{%  block more_head %}
{%  endblock %}
{% block content %}
<form method="post" action="{{url_for('main.istex')}}">
    <div class="row mb-4">
        <div class="col-12">
            <input class="form-control" type="url" size="100%" name=istex_req_url placeholder="istex request url">
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <input type="submit" value="Get papers from Istex api">
        </div>
        <div class="col-5 position-relative">
            <h6 class="position-absolute end-0">More on Istex: <a href="https://demo.istex.fr">demo</a> and <a
                    href="https://api.istex.fr">api</a>.
            </h6>
        </div>
    </div>
</form>
<hr class="mt-4 mb-4">
{% if istex_req_url %}
<div class="row mb-5">
    <h4>Results for:</h4>
    <p>
        {{ istex_req_url }}
    </p>
</div>
{% endif %}
{% if istex_list|length == 0 %}
<h6>No paper found</h6>
{% else %}
<table class="table-hover table">
    <thead>
    <tr>
        <th scope="col" class="col"><input id="checkAll" type="checkbox" title="Select all papers"></th>
        <th scope="col" class="col">#</th>
        <th scope="col" class="col">Title</th>
        <th scope="col" class="col">Year</th>
        <th scope="col" class="col">First Author</th>
        <th scope="col" class="col">Journal</th>
        <th scope="col" class="col">show pdf</th>
        <th scope="col" class="col">add pdf</th>
        <th scope="col" class="col">add txt</th>
    </tr>
    </thead>
    <tbody>
    {% for istex in istex_list %}
    <tr>
        <th scope="col"><input id="istex-check-{{istex.id}}" value="{{istex.id}}" type="checkbox"></th>
        <th scope="row">{{loop.index}}</th>
        <td class="title-cell text-truncate" style="max-width: 350px;" title="Show abstract"
            data-bs-toggle="modal" data-title="{{istex.title}}" data-abstract="{{istex.abstract}}"
            data-bs-target="#abstract-modal">{{istex.title}}
        </td>
        <td class="istex-year">{{istex.year}}</td>
        <td class="istex-first_author">{{istex.first_author}}</td>
        <td>{{istex.journal}}</td>
        <td><a class="btn btn-warning" id="istex-link-{{istex.id}}" href="{{istex.pdf_url}}"
               title="Get istex pdf file">Show PDF</a></td>
        <td>
            <form method="post" action="{{url_for('main.upload_from_url')}}">
                <input type="hidden" name="pdf_url" value="{{istex.pdf_url}}">
                <input type=submit value="Add PDF" class="btn btn-warning" title="Add Paper to local database as PDF">
            </form>
        </td>
        <td>
            <form method="post" action="{{url_for('main.upload_from_url')}}">
                <input type="hidden" name="pdf_url" value="{{istex.pdf_url}}">
                <input type=submit value="Add TXT" class="btn btn-warning" title="Add Paper to local database as TEXT">
            </form>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>

<div class="content">
    <button class="btn btn-warning" id="addAllPdf" title="Add all checked papers">Add all PDF</button>
    <button class="btn btn-warning" id="addAllTxt" title="Add all checked papers">Add all TXT</button>
</div>
{% endif %}

<div id="abstract-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-heading">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to save changes to this document before closing?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>

$(document).ready(function() {

    // Show abstract in a modal window when title clicked
    //
    $("#abstract-modal").on("show.bs.modal", function(event) {
        // Get the button that triggered the modal
        var button = $(event.relatedTarget);

        // Change modal content
        var article_author = button.siblings(".istex-first_author").text()  +" et al."
        var article_year = button.siblings(".istex-year").text()
        var article_title = button.text()
        var article_abstract = button.data("abstract")
        var modal_heading = article_title+', ' +article_author+', '+article_year
        $(this).find(".modal-heading").text(modal_heading);
        $(this).find(".modal-body").children("p").text(article_abstract);
    });

    // (de)Select  all checkboxes when main is (de)selected
    //
    $("#checkAll").click(function(){
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

    $("#addAllPdf").click(function(){
        $("input:checked").not($('#checkAll')).each(function() {
            istex_id = $(this).val()
            $.post({
                url: "{{url_for('main.istex_upload_id')}}",
                data: JSON.stringify({ istex_id: istex_id}),
                contentType: 'application/json; charset=utf-8'
            })
              .done(function( data ) {
                alert("Done with: "+istex_id);
              });
          });
    });
});

</script>
{% endblock %}
