{% extends "base_page.html" %}
{%  block more_head %}
{%  endblock %}
{% block content %}
<div class="row mb-5">
    <h4>ISTEX request url</h4>
    <form method="post" action="{{url_for('main.istex')}}">
        <input type=url name=istex_req_url>
        <input type=submit value="Get ISTEX">
    </form>
</div>
<hr class="mt-5 mb-5">
{% for istex in istex_list %}
<div class="row ">
    <div class="col-3" title="{{istex.title}}">{{istex.ark}}</div>
    <div class="col-1 ">
        <a class="{{istex_class}}" id="istex-link-{{istex.ark}}" href="{{istex.pdf_url}}"
           title="Get istex file">pdf</a>
    </div>
    <div class="col-1 ">
        <form method="post" action="{{url_for('main.upload_from_url')}}">
            <input type="hidden" name="pdf_url" value="{{istex.pdf_url}}">
            <input type=submit value="Add">
        </form>
    </div>
</div>
{%endfor%}

{% endblock %}
