{% extends "base_page.html" %}
{%  block more_head %}
{%  endblock %}
{% block content %}
<div class="row mb-5">
    <h4>ISTEX request url</h4>
    <form method="post" action="{{url_for('main.istex')}}">
        <input type=url name=istex_req_url>
        <input type=submit value="Get ISTEX">
    </form>
</div>
<hr class="mt-5 mb-5">
<table class="table-hover table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Author</th>
        <th scope="col">Journal</th>
        <th scope="col-1">pdf</th>
        <th scope="col-1">add</th>
    </tr>
    </thead>
    <tbody>
    {% for istex in istex_list %}
    <tr>
        <th scope="row">{{loop.index}}</th>
        <td class="title-cell text-truncate" style="max-width: 350px;" title="Show abstract"
            data-bs-toggle="modal" data-title="{{istex.title}}" data-abstract="{{istex.abstract}}"
            data-bs-target="#abstract-modal">{{istex.title}}
        </td>
        <td>{{istex.year}}</td>
        <td>{{istex.first_author}}</td>
        <td>{{istex.journal}}</td>
        <td><a class="btn btn-warning" id="istex-link-{{istex.ark}}" href="{{istex.pdf_url}}"
               title="Get istex file">pdf</a></td>
        <td>
            <form method="post" action="{{url_for('main.upload_from_url')}}">
                <input type="hidden" name="pdf_url" value="{{istex.pdf_url}}">
                <input type=submit value="add" class="btn btn-warning" title="Add to local database">
            </form>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>

<div id="abstract-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to save changes to this document before closing?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>

$(document).ready(function() {

    $("#abstract-modal").on("show.bs.modal", function(event) {
        // Get the button that triggered the modal
        var button = $(event.relatedTarget);

        // Change modal title
        $(this).find(".modal-title").text(button.data("title"));
        $(this).find(".modal-body").children("p").text(button.data("abstract"));
    });
});

</script>
{% endblock %}
