{% extends "base_page.html" %}
{%  block more_head %}
{%  endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h4>Upload new File</h4>
        <form action={{url_for('main.upload')}} method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    </div>
    <div class="col">
        <h4>Upload from URL</h4>
        <form action={{url_for('main.upload_from_url')}} method=post enctype=multipart/form-data>
            <input type=url name=pdf_url>
            <input type=submit value=Upload>
        </form>
    </div>
</div>
<hr class="mt-5 mb-5">
<table class="table-hover table">
    <thead>
    <tr>
        <th scope="col" style="width: 20px;">#</th>
        <th scope="col" style="width: 680px;">Title</th>
        <th scope="col" style="width: 40px;">del</th>
        <th scope="col" style="width: 40px;">pdf</th>
        <th scope="col" style="width: 40px;">cat</th>
        <th scope="col" style="width: 40px;">run</th>
        <th scope="col" style="width: 150px;">status</th>
    </tr>
    </thead>
    <tbody>
    {% for paper in papers_list %}
    <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{paper.title}}</td>
        <td>
            <a class="btn btn-warning"
               href="{{url_for('main.paper_del', paper_id=paper.id)}}"
               title="Remove paper from database">
                del
            </a>
        </td>
        <td>
            <a class="btn btn-warning"
               href="{{url_for('main.pdf', paper_id=paper.id)}}"
               title="Get pdf file" {{disabled(not paper.has_pdf)}}>pdf</a>
        </td>
        <td>
            <a class="btn btn-warning cat-link position-relative" id="cat-link-{{paper.id}}"
               href="{{url_for('main.cat', paper_id=paper.id)}}"
               title="Get catalog file{{' (not in db)' if not paper.cat_in_db}}" {{disabled(not paper.has_cat)}}>cat
                {% if paper.has_cat and not paper.cat_in_db %}
                    {%set circle_visibility = "visible"%}
                {% else %}
                    {%set circle_visibility = "invisible"%}
                {% endif %}
                <span class="{{circle_visibility}} position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                </span>
            </a>
        </td>
        <td>
            <button class='btn btn-warning run-bht'
                    title="Run bht pipeline on this file" data-paper_id="{{paper.id}}"
                    {{disabled(not paper.has_pdf)}}>
                run
            </button>
        </td>
        <td style="width: 80px;">
            <span class="bht-status" id="bht-status-{{paper.id}}"></span>
            <span class="spinner-border spinner-border-sm text-warning d-none" id="spinner-{{paper.id}}"></span>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>

{%endblock%}

{% block scripts %}
<script>

// BHT tasks management

$('.run-bht').on('click', function() {
  $.ajax({
    url: '/bht_run',
    data: { paper_id: $(this).data('paper_id') },
    method: 'POST'
  })
  .done((res) => {
    console.log('bht task sent');
    setStatus(res.data.paper_id);
    location.reload();
  })
  .fail((err) => {
    console.log(err);
  });
});


function setStatus(paper_id) {
  $.ajax({
    url: `/bht_status/${paper_id}`,
    method: 'GET',
  })
  .done((res) => {
    if (res.status === 'error' ) return false;
    const spinnerElmtId = '#spinner-'+res.data.paper_id

    const taskStatus = res.data.task_status;
    const statusElmtId = '#bht-status-'+res.data.paper_id

    $(spinnerElmtId).removeClass('d-inline-block')
    $(spinnerElmtId).addClass('d-none')

    $(statusElmtId).html(res.data.task_status)
    $(statusElmtId).html(res.data.task_status+" "+res.data.task_elapsed)
    $(statusElmtId).attr('title', 'Started: '+res.data.task_started)

    if (taskStatus === 'started' ) {
        $(spinnerElmtId).removeClass('d-none')
        $(spinnerElmtId).addClass('d-inline-block')
    }
    if (taskStatus === 'finished' ) {
        const catElementId = '#cat-link-'+res.data.paper_id;
        $(catElementId).removeAttr('disabled')
        $(catElementId).find('span').removeClass('invisible').addClass('visible')
        return false
    }
    if ( taskStatus === 'failed'){
        $(catElementId).addAttr('disabled')
         return false;
    }
    setTimeout(function () {
      setStatus(res.data.paper_id);
    }, 1000);
  })
  .fail((err) => {
    console.log(err);
  });
}
//
$('.bht-status').each(function(index){
    const paperId = $(this).attr('id').substring(11);
    setStatus(paperId);
});



</script>

{% endblock %}
