{% extends "base_page.html" %}
{%  block more_head %}
<title> {{papers_list | length}} Papers - {{base_title}}</title>
{%  endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h4>Upload new File</h4>
        <form action={{url_for('main.upload')}} method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    </div>
    <div class="col">
        <h4>Upload from URL</h4>
        <form action={{url_for('main.upload_from_url')}} method=post enctype=multipart/form-data>
            <input type=url name=pdf_url>
            <input type=submit value=Upload>
        </form>
    </div>
</div>
<hr class="mt-5 mb-5">
<table class="table-hover table">
    <thead>
    <tr>
        <th scope="col" style="width: 20px">#</th>
        <th scope="col" style="width: 20px">Id</th>
        <th scope="col" style="width: 580px;">Title</th>
        <th scope="col" style="width: 40px;">del</th>
        <th scope="col" style="width: 40px;">pdf</th>
        <th scope="col" style="width: 40px;">txt</th>
        <th scope="col" style="width: 40px;">cat</th>
        <th scope="col" style="width: 40px;">run pdf</th>
        <th scope="col" style="width: 40px;">run txt</th>
        <th scope="col" style="width: 150px;">status</th>
    </tr>
    </thead>
    <tbody>
    {% for paper in papers_list %}
    <tr>
        <th scope="row" class="td_num">{{loop.index}}</th>
        <th scope="row" class="td_num">
            <a class="btn btn-warning" href="{{url_for('main.paper_show', paper_id=paper.id)}}"
               title="Show paper">
            {{paper.id}}
            </a>
        </th>
        <td style="max-width: 550px;" title="{{paper.ark}}">
            &laquo;{{paper.title | truncate(85, False, end=" ...")}}&raquo;
        </td>
        <td>
            <a class="btn btn-warning"
               href="{{url_for('main.paper_del', paper_id=paper.id)}}"
               title="Remove paper from database">
                del
            </a>
        </td>
        <td>
            <a class="btn btn-warning"
               href="{{url_for('main.pdf', paper_id=paper.id)}}"
               title="Get pdf file" {{disabled(not paper.has_pdf)}}>pdf</a>
        </td>
        <td>
            <a class="btn btn-warning"
               href="{{url_for('main.txt', paper_id=paper.id)}}"
               title="Get txt file" {{disabled(not paper.has_txt)}}>txt</a>
        </td>
        <td>
            <a class="btn btn-warning cat-link position-relative" id="cat-link-{{paper.id}}"
               href="{{url_for('main.cat', paper_id=paper.id)}}"
               title="Get catalog file{{' (not in db)' if not paper.cat_in_db}}" {{disabled(not paper.has_cat)}}>cat
                {% if paper.has_cat and not paper.cat_in_db %}
                    {%set circle_visibility = "visible"%}
                {% else %}
                    {%set circle_visibility = "invisible"%}
                {% endif %}
                <span class="{{circle_visibility}} position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                </span>
            </a>
        </td>
        <td>
            <button class='btn btn-warning run-bht'
                    title="Run bht pipeline on PDF file"
                    data-paper_id="{{paper.id}}"
                    data-file_type="pdf"
                    {{disabled(not paper.has_pdf)}}>
                run
            </button>
        </td>
        <td>
            <button class='btn btn-warning run-bht'
                    title="Run bht pipeline on TXT file"
                    data-paper_id="{{paper.id}}"
                    data-file_type="txt"
                    {{disabled(not paper.has_txt)}}>
                run
            </button>
        </td>
        <td style="width: 150px;">
            <span class="bht-status" id="bht-status-{{paper.id}}"></span>
            <span class="spinner-border spinner-border-sm text-warning d-none" id="spinner-{{paper.id}}"></span>
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>

{%endblock%}

{% block scripts %}
<script>

// BHT tasks management

$('.run-bht').on('click', function() {
  let paper_id = $(this).data('paper_id');
  const statusElmtId = '#bht-status-'+paper_id;
  $(statusElmtId).hide();
  $.ajax({
    url: '/bht_run',
    data: { paper_id:  paper_id,
            file_type: $(this).data('file_type')},
    method: 'POST'
  })
  .done((res) => {
    if ( res.status === "success" ){
        setStatus(res.data.paper_id);
        location.reload();
    } else {
        alert("Error: "+res.data.message);
    }
  })
  .fail((err) => {
    // Show there was an error returned by /bht-run
    alert(err);
    err_status = err.responseJSON.data.task_status;
    err_message = err.responseJSON.data.message;
    alt_message = err.responseJSON.data.alt_message;
    paper_id = err.responseJSON.data.paper_id;
    $(statusElmtId).removeClass("finished started failed queued undefined");
    $(statusElmtId).addClass(err_status);
    $(statusElmtId).html(err_message);
    $(statusElmtId).attr("title", alt_message);
    $(statusElmtId).show();
  });
});


function setStatus(paper_id) {
  $.ajax({
    url: `/bht_status/${paper_id}`,
    method: 'GET',
  })
  .done((res) => {
    const taskStatus = res.data.task_status;

    // Build dom elements' ids to grab
    const spinnerElmtId = '#spinner-'+res.data.paper_id
    const statusElmtId = '#bht-status-'+res.data.paper_id
    const catElementId = '#cat-link-'+res.data.paper_id;

    // Update css class
    $(statusElmtId).removeClass("finished started failed queued undefined");
    $(statusElmtId).addClass(taskStatus);

    // Disable spinner
    $(spinnerElmtId).removeClass('d-inline-block')
    $(spinnerElmtId).addClass('d-none')

    // Update status text content
    $(statusElmtId).html(res.data.message)
    $(statusElmtId).attr('title', res.data.alt_message)


    // Update display depending on status
    if (taskStatus === 'started' ) {
        $(spinnerElmtId).removeClass('d-none')
        $(spinnerElmtId).addClass('d-inline-block')
    }
    if (taskStatus === 'finished' ) {
        $(catElementId).attr('disabled');
        if  ( res.data.cat_is_processed === false){
            $(catElementId).find('span').removeClass('invisible').addClass('visible');
            }
        return false;
    }
    if ( taskStatus === 'failed'){
        $(catElementId).attr('disabled')
         return false;
    }

//    // Update all statuses after 1s
//    setTimeout(function () {
//      setStatus(res.data.paper_id);
//    }, 1000);
  })
  .fail((err) => {

    // Show there was an error returned by /bht_status/p_id
    console.log(err);
    err_status = err.responseJSON.data.task_status;
    err_message = err.responseJSON.data.message;
    alt_message = err.responseJSON.data.alt_message;
    paper_id = err.responseJSON.data.paper_id;
    const statusElmtId = '#bht-status-'+paper_id;
    $(statusElmtId).removeClass("finished started failed queued undefined");
    $(statusElmtId).addClass(err_status);
    $(statusElmtId).html(message);
    $(statusElmtId).attr("title", alt_message);
  });
}

//
$('.bht-status').each(function(index){
    const paperId = $(this).attr('id').substring(11);
    setStatus(paperId);
});



</script>

{% endblock %}
