{% extends "base_page.html" %}
{%  block more_head %}
<title>Statistics</title>
{%  endblock %}
{% block content %}
    <div class="container mt-5">
        <div id="plot-container" class="text-center">
            <div id="spinner" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Chargement...</span>
            </div>
            <img id="plot-image" src="" class="img-fluid" style="display:none;">
        </div>
    </div>


{% endblock %}

{% block scripts %}
<script>

$(document).ready(function() {
    $.ajax({
        url: '{{url_for("main.api_nconf_dist_graph")}}',
        method: 'GET',
        success: function(data) {
            $('#spinner').hide();
            $('#plot-image')
                .attr('src', data.plot_url)
                .show();
        },
        error: function() {
            $('#spinner').html('Erreur de chargement');
        }
    });
});
</script>
{%  endblock %}
