{% extends "base_page.html" %}
{%  block more_head %}
<title>Statistics</title>
{%  endblock %}
{% block content %}

<div class="container mt-5">

    <h4 class="mb-3 d-inline-block">NConf distribution :</h4>
    <button id="load-nconf-dist">Load Plot</button>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="duration-min" title="Sampling number">Bins: <span class="duration-val"></span></label>
                <input class="form-control filter-input" id="duration-min" name="duration-min" type="number"
                       value="{{params.bins}}"/>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="nconf-min">Min NConf [0.0, 1.0]</label>
                <input class="form-control filter-input" id="nconf-min" name="nconf-min" type="number"
                       value="{{params.nconf_min}}"
                       placeholder="0.8" step="0.01" min="0.0" max="1.0"/>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="nconf-min">Max NConf [0.0, 1.0]</label>
                <input class="form-control filter-input" id="nconf-max" name="nconf-max" type="number"
                       value="{{params.nconf_max}}"
                       placeholder="0.999" step="0.01" min="0.0" max="1.0"/>
            </div>
        </div>
    </div>
    <div id="plot-container" class="text-center">
        <div id="spinner" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Chargement...</span>
        </div>
        <img id="plot-image" src="" class="img-fluid" style="display:none;">
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>

    function load_nconf_dist  (){
        $('#spinner').show();
        let params = {
            bins: parseInt($('#duration-min').val()),
            "nconf-min": parseFloat($('#nconf-min').val()),
            "nconf-max": parseFloat($('#nconf-max').val())
        };
        $.ajax({
            url: '{{url_for("main.api_nconf_dist_graph")}}',
            method: 'POST',
            data: JSON.stringify(params),
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                $('#spinner').hide();
                $('#plot-image')
                    .attr('src', data.plot_url)
                    .show();
            },
            error: function() {
                $('#spinner').html('Erreur de chargement');
            }
        });
    }

    $(document).ready(function() {
        $('#spinner').hide();
        $('#load-nconf-dist').on('click', load_nconf_dist);
    });
</script>
{%  endblock %}
