{% extends "base_page.html" %}
{%  block more_head %}
<title>Subset</title>
{%  endblock %}
{% block content %}
<div class="row">
    <h4>Upload Istex Archive</h4>
    <div class="col">
        <h5>from new File</h5>
        <form action={{url_for('main.subset_upload')}} method=post enctype=multipart/form-data>
            <input type=file name=zipfile>
            <input type=submit value="Upload Zip">
        </form>
    </div>
</div>
<hr class="mt-4 mb-4">
<div class="row">
    <h4>Istex Archives</h4>
    {% if zip_files|length == 0 %}
    <h6>No zip files found</h6>
    {% else %}
    <table class="table-hover table">
        <thead>
        <tr>
            <th scope="col" class="col">filename</th>
            <th scope="col" class="col">size</th>
            <th scope="col" class="col">papers</th>
            <th scope="col" class="col">unzip</th>
        </tr>
        </thead>
        <tbody>
        {% for zf in zip_files %}
        <tr>
            <td>{{zf.name}}</td>
            <td>{{zf.size}}</td>
            <td>{{zf.nb_json}}</td>
            <td>
                <button class="btn btn-warning unzip-subset"
                        data-zip_filename="{{zf.name}}"
                        data-total_files="{{zf.nb_json}}"
                        data-job_id="{{zf.job_id}}"
                        title="Unzip Subset">
                    Unzip
                </button>
            </td>
            <td>
                <span class="zip-status" title="" id="zip-status-{{zf.job_id}}"></span>
                <span class="spinner-border spinner-border-sm text-warning d-none" id="spinner-{{zf.job_id}}"></span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {%endif%}
</div>


{% endblock %}

{% block scripts %}
<script>
    // url_for template for dynamically use before task_id is known
    const urlSubsetStatusTemplate = "{{ url_for('main.api_subset_status', task_id='__task_id__') }}";
    function updateSubsetStatus(task_id){
       // now dynamically build the flask url
       const url = urlSubsetStatusTemplate.replace("__task_id__", task_id);
       console.log(url);
       const taskStatusElmtId = '#zip-status-' + task_id;

       $.ajax({
                url: url,
                method: 'GET',
            })
       .done((res) => {
            const taskStatus = res.data.task_status;
            const taskId = res.data.task_id;
            const taskProgress = res.data.task_progress;
            if (taskStatus == "started") {
                $(taskStatusElmtId).html(taskProgress);
                setTimeout(function() {
                    updateSubsetStatus(task_id);
                }, 1000);
            } else if (taskStatus == "queued") {
                $(taskStatusElmtId).html("queued");
            } else {
                $(taskStatusElmtId).html(res.data.message)
                                   .attr("title", res.data.alt_message);
            }
       })
       .fail((err) => {
            // Show there was an error returned by /bht_status/p_id
            err_message = err.responseJSON.data.message;
            alt_message = err.responseJSON.data.alt_message;
            $(taskStatusElmtId).html(err_message)
                               .attr("title", alt_message);
            console.log("AILED Update Unzip Status"+err);
       });
    }

    function setUnzipSubsetOnClick(){
        $('.unzip-subset').click(function(){
            const zip_filename = $(this).data("zip_filename")
            const total_files = $(this).data("total_files")
            const job_id = $(this).data("job_id")
            $.ajax({
                url: "{{url_for('main.api_subset_unzip')}}",
                method: "POST",
                data: JSON.stringify({ zip_filename: zip_filename, total_files: total_files}),
                contentType: 'application/json; charset=utf-8'
            })
            .done((res) => {
                updateSubsetStatus(res.data.task_id);
            })
            .fail((err) => {
                alert("FAILED Unzip Subset");
            });
        });
    }

    function updateAllStatuses() {
        $('.zip-status').each(function(index) {
            const jobId = $(this).attr('id').substring(11);
            updateSubsetStatus(jobId);
        });
    }

    $(document).ready(function() {
        //setUnzipSubsetOnClick();
        updateAllStatuses();
    });
</script>
{% endblock %}
