{% extends "base_page.html" %}
{%  block more_head %}
<title>Subsets</title>
{%  endblock %}
{% block content %}
<div class="row">
    <h4>Upload Istex Archive</h4>
    <div class="col">
        <h5>from new File</h5>
        <form action={{url_for('main.subset_upload')}} method=post enctype=multipart/form-data>
            <input type=file name=zipfile>
            <input type=submit value="Upload Zip">
        </form>
    </div>
</div>
<hr class="mt-4 mb-4">
<div class="row">
    <h4>Istex Archives</h4>
    {% if zip_files|length == 0 %}
    <h6>No zip files found</h6>
    {% else %}
    <table class="table-hover table">
        <thead>
        <tr>
            <th scope="col" class="col">filename</th>
            <th scope="col" class="col">size</th>
            <th scope="col" class="col">papers</th>
            <th scope="col" class="col">unzip</th>
            <th scope="col" class="col">status</th>
        </tr>
        </thead>
        <tbody>
        {% for zf in zip_files %}
        <tr>
            <td>
                <a id="show-{{zf.name}}"
                   class="btn btn-warning show-subset"
                   href="{{url_for('main.subset_show', subset_name=zf.name)}}"
                   title="Show subset {{zf.name}}">
                    {{zf.name}}
                </a>
            </td>
            <td>{{zf.size}}</td>
            <td>{{zf.nb_json}}</td>
            <td>
                <button id="unzip-{{zf.name}}"
                        class="btn btn-warning unzip-subset"
                        data-subset_name="{{zf.name}}"
                        data-total_files="{{zf.nb_json}}"
                        title="Unzip Subset">
                    Unzip
                </button>
            </td>
            <td>
                <span class="zip-status" title="" id="zip-status-{{zf.name}}"
                      data-subset_name="{{zf.name}}"></span>
                <span class="spinner-border spinner-border-sm d-none" id="spinner-{{zf.name}}"></span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {%endif%}
</div>


{% endblock %}

{% block scripts %}
<script>
        function failedToStatus(err, statusElmtId, message) {
            err_status = err.responseJSON.status;
            err_message = err.responseJSON.data.message;
            alt_message = err.responseJSON.data.alt_message;
            $(statusElmtId).removeClass("finished started failed queued undefined");
            $(statusElmtId).addClass(err_status);
            $(statusElmtId).html(err_message);
            $(statusElmtId).attr("title", alt_message);
            console.error(message)
            console.error(err)
        }

        // url_for template for dynamically use before subset_name is known
        const urlSubsetStatusTemplate = "{{ url_for('main.api_subset_status', subset_name='__subset_name__') }}";

        function updateSubsetStatus(subset_name){
            console.log("Updating status for "+subset_name);
           // now dynamically build the flask url
           const url = urlSubsetStatusTemplate.replace("__subset_name__", subset_name);
           const spinnerElmtId = '#spinner-' + subset_name
           const statusElmtId = '#zip-status-' + subset_name;


           $.ajax({
                    url: url,
                    method: 'GET',
                })
           .done((res) => {
                const taskStatus = res.data.task_status;
                const taskProgress = res.data.task_progress;

               // Disable spinner if active
               $(spinnerElmtId).removeClass('d-inline-block')
               $(spinnerElmtId).addClass('d-none')

                if (taskStatus == "started") {
                    // show spinner while running task
                    $(spinnerElmtId).removeClass('d-none')
                    $(spinnerElmtId).addClass('d-inline-block')
                    $(statusElmtId).html(taskProgress)
                                       .attr("title", res.data.alt_message);
                    setTimeout(function() {
                        updateSubsetStatus(subset_name);
                    }, 500);
                } else if (taskStatus == "queued") {
                    $(statusElmtId).html(taskStatus)
                                       .attr("title", res.data.alt_message);
                    // wait for queued to be executed
                    setTimeout(function() {
                        updateSubsetStatus(subset_name);
                    }, 1000);
                } else if (taskStatus == "finished") {
                    // update display
                    $(statusElmtId).html("Finished")
                                       .attr("title", res.data.alt_message);
                } else {
                    $(statusElmtId).html(res.data.message)
                                       .attr("title", res.data.alt_message);
                }
           })
           .fail((err) => {
                failedToStatus(err, statusElmtId, "FAILED Update Unzip Status");
           });
        }

        function setUnzipBtnOnCLick(){
            $('.unzip-subset').click(function(){
                const subset_name = $(this).data("subset_name")
                const total_files = $(this).data("total_files")
                $.ajax({
                    url: "{{url_for('main.api_subset_unzip')}}",
                    method: "POST",
                    data: JSON.stringify({ subset_name: subset_name, total_files: total_files}),
                    contentType: 'application/json; charset=utf-8'
                })
                .done((res) => {
                    updateSubsetStatus(subset_name);
                })
                .fail((err) => {
                    const statusElmtId = '#zip-status-' + subset_name;
                    failedToStatus(err, statusElmtId, "FAILED Unzip Subset");
                    console.error(err);
                });
            });
        }

        function updateAllStatuses() {
            $('.zip-status').each(function(index) {
                const subset_name = $(this).data("subset_name")
                updateSubsetStatus(subset_name);
            });
        }

        $(document).ready(function() {
            setUnzipBtnOnCLick();
            updateAllStatuses();
        });
</script>
{% endblock %}
