#step_menu {
    margin: 10pt 0;
}

#step_menu a , #step_navigator a{
    padding: 0 0.5em;
    border: solid 2pt grey;
    background: lightgrey;
    text-decoration: none;
}

#step_menu a.a_selected {
    background: white;
    border: solid 2pt black;
}

.highlight {
    border: solid 2pt #424242;
    color: red;
}
.highlight:hover {
    cursor: pointer;
    border: solid 2pt #181818;
    background: white;
}

.highlight.DATE {
    background: lightgreen;
}
.highlight.DURATION {
    background: lightyellow;
}
.highlight.TIME {
    background: lightblue;
}
.highlight.sat {
    color: black;
    background: coral;
}
.highlight.instr {
    color: black;
    background: aqua;
}

#highlight_legend, #colored_content {
    width: 80%;
}

#colored_content {
    margin: 1px 0 0 0 ;
    border: solid 1pt black;
    font-size: 10px;
    padding: 3em 5em 3em 5em ;
    text-align: justify;
}

#highlight_legend {
    margin: 0 0 20pt 0;
    text-align: right;
}

#highlight_legend span{
    display: inline-block;
    width: 60px;
    text-align: center;
    font-size: 7pt;
}
