#step_menu a , #step_navigator a{
    padding: 0 1em;
    border: solid 2pt grey;
    background: lightgrey;
    text-decoration: none;
}
#step_menu a.a_selected {
    background: white;
    border: solid 2pt black;
}

.highlight {
    border: solid 2pt #424242;
    color: red;
}
.highlight:hover {
    cursor: pointer;
    border: solid 2pt #181818;
    background: white;
}

.highlight.DATE {
    background: lightgreen;
}
.highlight.DURATION {
    background: lightyellow;
}
.highlight.TIME {
    background: lightblue;
}
.highlight.sat {
    color: black;
    background: tomato;
}
.highlight.instr {
    color: black;
    background: aqua;
}

#highlight_legend {
    margin: 0 0 30pt 0;
}

#colored_content {
    width: 80%;
    font-size: 10px;
    padding: 5em;
}
