button.btn-warning:hover,
a.btn-warning:hover {
    border: solid 1pt lightgrey !important ;
}
a.btn-warning.cat-link-disabled {
    background-color: grey;
    text-decoration-line: line-through;
    border: solid black 1pt;
}
.cat-link-disabled {
    pointer-events: none;
    text-decoration-line: line-through;
    color: black;
}

.nav-link {
    color: black !important;
    border: 1pt solid white;
}

/*
.nav-link.active {
    background-color: var(--bs-btn-hover-bg) !important;
}
*/

.title-cell:hover {
    cursor: pointer;
    background-color:var(--bs-warning);
}
