a.nav-link.active:hover ,
input.btn-warning:hover,
button.btn-warning:hover,
a.btn-warning:hover {
    border: solid 1pt grey !important ;
}

input.btn-warning,
button.btn-warning,
.mission-catalog ,
a.btn-warning {
    padding: 6px !important;
    border: solid 1pt lightgrey !important ;
}
a.nav-link.active{
    border: solid 1pt lightgrey !important ;
}
a.nav-link:hover {
    border: solid 1pt lightgrey !important ;
}

.region-value{
    padding: 6px !important;
    border: solid 1pt lightgrey !important ;
    border-radius: 5pt;
}
.region-value:hover {
    cursor: pointer;
    padding: 6px !important;
    border: solid 1pt grey !important ;
    background-color: white;
}

#get-catalog-txt {
margin-top: -5px;
padding: 1px 2px !important;
}

.mission-catalog{
    margin-bottom: 8px;
    margin-right: 5px;
}
.mission-catalog:hover{
    border: solid 1pt grey !important ;
}

button.btn[disabled] ,
a.btn[disabled] {
    background-color: lightgrey;
    text-decoration-line: line-through;
    border: solid black 1pt;
    pointer-events: none;
    text-decoration-line: line-through;
    color: black;
}

.nav-link {
    color: black !important;
    border: 1pt solid white !important;
}

/*
.nav-link.active {
    background-color: var(--bs-btn-hover-bg) !important;
}
*/

.title-cell:hover {
    cursor: pointer;
    background-color:var(--bs-warning);
}
